@charset "UTF-8"
/* バーガーボタンの位置とサイズ */
.btn-menu {
    position: fixed;
    background-color: aqua;
}
.btn-menu span {
    width: 1.5rem; /* 線の横幅 */
    height: 2px; /* 線の太さ */
    background-color: #432; /* 線の色 */

    display: block; /* spanをブロック要素に変換 */

    transition: ease .4s; /* ハンバーガーメニュークリック時の三本線の動きを遅延 */
}
/* 3本線の調整 */
.btn-menu span:nth-child(1) {
    top: 0;
    margin: 0 6px;
}
.btn-menu span:nth-child(2) {
    margin: 5px 6px;
}
.btn-menu span:nth-child(3) {
    top: 0;
    margin: 0 6px;
}

/* サブメニュー*/
.sub-nav {
    display: none;
    top: 0;
    position: fixed; /* 位置を固定 */
    right: 0%; /* ボタンが押されるまで隠す(position: fixed;との連携) */
    width: 70%; /* 出てくるメニューの幅を調整 */
    height: 100vh; /* 縦の長さは画面一杯に */

    padding-top: 60px;

    background: rgba(255,255,255,.9);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    transition: ease 0.4s; /* ハンバーガーメニュークリック時のメニューの動きを遅延 */
}
.sub-nav-menu {
    text-transform: uppercase;
}
.sub-nav li {
    height: 50px;
    border-bottom: 1px #ddd solid;
}
.sub-nav-menu {
    display: block;
    height: 100%;
    padding: 17px;
}

.sub-nav-menu:hover {
    background-color: #ddd;
}