* {
    font-size: 100%;
    line-height: 1.7;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    color: #432;

    text-decoration: none;
    list-style-type: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.full-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 270px;

    background-image: url(images/headbg.JPG);
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
header {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 80px;
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 12%;

    transition: all .4s;
}
.logo {
    font-size: 1.2rem;
    color: #fff;
}
.main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 7px;

    text-transform: uppercase;
}
.main-nav-menu  {
    font-size: 1rem;
    font-weight: 500;
    width: 120%;
    height: 120%;
    color: #fff;
    border-radius: 7px;
    
    display: flex;
    justify-content: center; /*左右中心化*/
    align-items: center; /*上下中心化*/
}
.main-nav-menu:hover {
    background-color: rgba(0,0,0,0.3);
}

#kimisukeimg {
    /* kimisukeの写真の位置 */
    margin-top: -60px;
    width: 170px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

article {
    height: auto;
    width: 95%;

    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    margin: 240px auto 20px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 5% 20px;    
}
article h1{
    color: #b07f72;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 3.5rem;
}
.introduction h2 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.3rem;
}
.sns-icon {
    display: flex;
    justify-content: center; /*左右中心化*/

    margin: 10px 0 10px;
}
.icon-link {
    width: 5vh;
    height: 5vh;
    
    border-radius: 50%;
    margin: 0 7px;

    display: flex;
    justify-content: center; /*左右中心化*/
    align-items: center; /*上下中心化*/
}
.icon-link:hover {
    cursor: pointer;
    background-color: #ddd;
}
.sns-icon img{
    width: 4vh;
    height: auto;
}

/* history以下共通部分 */
.profile p {
    margin-bottom: 80px;
    padding: 0 5%;
}
.profile-title {
    font-size: 2rem;
    font-weight: normal;
}

/* history */
.history ul {
    margin-bottom: 80px;
}
.history li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto 2%;
    padding: 0 1% 0.5%;
    width: 95%;
    border-bottom: 1px #ddd solid;
}
.history-content .description {
    flex: auto;
}
.interest p,
.akademic-paper p,
.certification p {
    padding: 0 5%;
}


footer {
    margin-top: auto;

    width: 100%;
    padding: 0 5% 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
    margin: 2% 3% 2%;
}

footer p {
    font-size: 1rem;
}

.not-found {
    margin-top: 300px;
    text-align: center;

    font-size: larger;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

/* --------------------blog/note共通部分-------------------- */
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 4% 0 4%;
}
.item {
    display: flex;
    justify-content: center; /*左右中心化*/
    align-items: center; /*上下中心化*/
}
.item-link {
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    border-radius: 5%;
    padding: 5%;
    transition: all 0.2s;
}
.item-link:hover {
    box-shadow: 0px 7px 13px 5px rgba(0,0,0,0.3);
}
.item-link p {
    color: #432;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.3rem;
}
.item-link img {
    width: 100%;
    height: auto;
}