@charset "UTF-8";

* {
    font-size: 100%;
    line-height: 1.7;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    color: #432;

    text-decoration: none;
    list-style-type: none;
}